@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/64e7f49afc358f17625d3e54.64e7f49afc358f17625d3e57.lRtbAF6.hcp.png");

@font-face {
  font-family: "Rounded Mplus 1c Bold-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MPLUSRounded1c-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Darkmode On CC-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Darkmode.otf") format("opentype");
}
@font-face {
  font-family: "Funkydori-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/.28114.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.group {
  background-color: var(--buttons);
  cursor: pointer;
  height: 5px;
  width: 41px;
}

.rubiojp_logo_vector_-1 {
  height: 110px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 134px;
}

.title-1 {
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 476px;
}

.navbar-link-place {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease;
  width: 174px;
}

.navbar-link-store {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 174px;
}

.line-3 {
  margin-top: 12px;
}

.line {
  height: 1px;
  object-fit: cover;
  width: 1512px;
}

.navbar-link {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 174px;
}

.overlap-group8 {
  height: 155px;
  position: relative;
  width: 917px;
}

.newsletter {
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 329px;
}

.email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 167px;
}

.subscribe {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 251px;
}