/* screen - index-all-breakpoints */

.index-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1679px;
  padding: 10px 0;
  width: 1512px;
}

.index-all-breakpoints .overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 220px;
  margin-left: 10px;
  min-width: 1388px;
}

.index-all-breakpoints .overlap-group4 {
  height: 155px;
  position: relative;
  width: 917px;
}

.index-all-breakpoints .overlap-group3 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 657px;
}

.index-all-breakpoints .rubiojp_logo_vector_-2 {
  height: 142px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 174px;
}

.index-all-breakpoints .title-2 {
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 617px;
}

.index-all-breakpoints .navbar-link-place:hover {
  color: #F4A261
}

.index-all-breakpoints .navbar-link-portfolio:hover {
  color: #F4A261
}

.index-all-breakpoints .overlap-group1 {
  height: 41px;
  margin-bottom: 15px;
  position: relative;
  width: 251px;
}

.index-all-breakpoints .overlap-group-2 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 251px;
}

.index-all-breakpoints .rectangle-2 {
  background-color: var(--akaroa);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 25px;
  height: 30px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index-all-breakpoints .instagram {
  color: var(--kabul);
  cursor: pointer;
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 3px;
  width: 251px;
}

.index-all-breakpoints .logoinstagram {
  background-image: url(../img/logo-instagram.svg);
  background-size: 100% 100%;
  height: 18px;
  left: 192px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.index-all-breakpoints .line-3 {
  height: 3px;
  margin-top: 10px;
  width: 1512px;
}

.index-all-breakpoints .frame-9 {
  align-items: flex-start;
  gap: 26px;
  margin-top: 26px;
}

.index-all-breakpoints .we-are-a-place-for-artists {
  color: var(--heading-1);
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.index-all-breakpoints .we-are-a-collective {
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  height: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 766px;
}

.index-all-breakpoints .overlap-group2 {
  height: 859px;
  margin-top: 30px;
  position: relative;
  width: 1512px;
}

.index-all-breakpoints .line-2 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 617px;
  width: 1503px;
}

.index-all-breakpoints .snoqualmie-1-1 {
  height: 859px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1512px;
}

.index-all-breakpoints .frame-10 {
  align-items: center;
  gap: 30px;
  margin-top: 59px;
}

.index-all-breakpoints .arte-tierra-is-juan {
  height: 72px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 903px;
}

.index-all-breakpoints .we-highlight-dissem {
  color: var(--default-stroke);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 757px;
}

.index-all-breakpoints .c-juan-rubio-2023 {
  color: var(--default-stroke);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 166px;
  margin-top: 89px;
  min-height: 35px;
  min-width: 245px;
  text-align: center;
}

.index-all-breakpoints .frame {
  display: inline-flex;
  flex-direction: column;
  margin-left: 97px;
  position: relative;
}
/* screen - ipad-pro-11u34-1 */

.ipad-pro-11u34-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1194px;
  padding: 64px 53px;
  width: 834px;
}

.ipad-pro-11u34-1 .overlap-group-1 {
  align-self: flex-start;
  height: 134px;
  position: relative;
  width: 650px;
}

.ipad-pro-11u34-1 .rubiojp_logo_vector_-1 {
  height: 110px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 134px;
}

.ipad-pro-11u34-1 .title-1 {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 476px;
}

.ipad-pro-11u34-1 .frame-2 {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  left: 78px;
  position: absolute;
  top: 98px;
  width: 572px;
}

.ipad-pro-11u34-1 .place {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  text-align: center;
  width: 174px;
}

.ipad-pro-11u34-1 .portfolio {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  text-align: center;
  width: 221px;
}

.ipad-pro-11u34-1 .snoqualmie-2-1 {
  height: 427px;
  margin-left: 1.0px;
  margin-top: 42px;
  object-fit: cover;
  width: 671px;
}

.ipad-pro-11u34-1 .we-invite-you-to-exp {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 18.0px;
  margin-top: 149px;
  min-height: 276px;
  width: 668px;
}
/* screen - ipad-pro-11u34-2 */

.ipad-pro-11u34-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 23px;
  height: 834px;
  padding: 35px 61px;
  width: 1194px;
}

.ipad-pro-11u34-2 .overlap-group-3 {
  height: 146px;
  position: relative;
  width: 915px;
}

.ipad-pro-11u34-2 .rubiojp_logo_vector_-3 {
  height: 142px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 174px;
}

.ipad-pro-11u34-2 .title-3 {
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 617px;
}

.ipad-pro-11u34-2 .navbar-1 {
  align-items: flex-start;
  display: inline-flex;
  left: 172px;
  position: absolute;
  top: 98px;
}

.ipad-pro-11u34-2 .navbar-link {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 174px;
}

.ipad-pro-11u34-2 .navbar-link-portfolio-1 {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 221px;
}

.ipad-pro-11u34-2 .snoqualmie-2-2 {
  align-self: center;
  height: 586px;
  margin-left: 65.0px;
  object-fit: cover;
  width: 913px;
}
/* screen - mobile-homepage */

.mobile-homepage {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 2594px;
  padding: 19px 0;
  width: 390px;
}

.mobile-homepage .flex-row {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 111px;
  min-width: 378px;
}

.mobile-homepage .rubiojp_logo_vector_ {
  height: 90px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 90px;
}

.mobile-homepage .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 111px;
  width: 282px;
}

.mobile-homepage .hamburger-menu {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 25px;
  min-height: 25px;
  width: 41px;
}

.mobile-homepage .title {
  letter-spacing: 0;
  line-height: normal;
  min-height: 67px;
  text-align: center;
  width: 282px;
}

.mobile-homepage .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1847px;
  width: 390px;
}

.mobile-homepage .rectangle-8 {
  background-color: var(--icons);
  height: 4px;
  width: 390px;
}

.mobile-homepage .find-the-art-to-brighten-your-life {
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-xl);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5.0px;
  margin-top: 58px;
  min-height: 120px;
  text-align: center;
  width: 375px;
}

.mobile-homepage .visit-our-store {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-xl);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 6px;
  margin-top: 20px;
  min-height: 50px;
  width: 309px;
}

.mobile-homepage .snoqualmie-2 {
  height: 268px;
  margin-right: 4.0px;
  margin-top: 60px;
  object-fit: cover;
  width: 378px;
}

.mobile-homepage .flex-row-1 {
  gap: 2px;
  height: 174px;
  margin-left: 5.0px;
  margin-top: 123px;
  min-width: 375px;
}

.mobile-homepage .mdinature-people {
  height: 90px;
  margin-top: 32.0px;
  width: 90px;
}

.mobile-homepage .we-are-an-online-col {
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  min-height: 174px;
  text-align: center;
  width: 283px;
}

.mobile-homepage .overlap-group {
  height: 330px;
  margin-left: 1.0px;
  margin-top: 86px;
  position: relative;
  width: 379px;
}

.mobile-homepage .rectangle-10 {
  background-color: var(--alto);
  height: 271px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 378px;
}

.mobile-homepage .snoqualmie-1 {
  height: 330px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 376px;
}

.mobile-homepage .we-find-the-power-of {
  color: var(--default-stroke);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 66px;
  min-height: 127px;
  text-align: center;
  width: 378px;
}

.mobile-homepage .flex-row-2 {
  gap: 6px;
  height: 104px;
  margin-top: 67px;
  min-width: 378px;
}

.mobile-homepage .fluent-emoji-high-contrastartist {
  height: 90px;
  margin-bottom: 4.0px;
  width: 90px;
}

.mobile-homepage .join-our-community {
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  min-height: 104px;
  text-align: center;
  width: 282px;
}

.mobile-homepage .frame-container {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  margin-right: 7.0px;
  margin-top: 30px;
  min-width: 283px;
}

.mobile-homepage .frame-11 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  gap: 10px;
  height: 31px;
  justify-content: center;
  padding: 13px 7px;
  position: relative;
  width: 58px;
}

.mobile-homepage .name {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -3.00px;
  margin-left: -3.00px;
  margin-right: -3.00px;
  margin-top: -5.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mobile-homepage .name-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -3.00px;
  margin-left: -3.50px;
  margin-right: -3.50px;
  margin-top: -5.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mobile-homepage .artist {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -3.00px;
  margin-top: -5.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mobile-homepage .follow-us {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-darkmode_on_cc-light);
  font-size: var(--font-size-s);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 42px;
  margin-top: 28px;
  min-height: 24px;
  text-align: center;
  width: 90px;
}

.mobile-homepage .vector {
  align-self: flex-start;
  height: 56px;
  margin-left: 56px;
  margin-top: 21px;
  width: 56px;
}

.mobile-homepage .flex-row-3 {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 833px) {
  .screen.ipad-pro-11u34-1 { 
    display: none;
   }
  .screen.index-all-breakpoints { 
    display: none;
   }
  .screen.ipad-pro-11u34-2 { 
    display: none;
   }
}
@media screen and (min-width: 834px) and (max-width: 1193px) {
  .screen.mobile-homepage { 
    display: none;
   }
  .screen.index-all-breakpoints { 
    display: none;
   }
  .screen.ipad-pro-11u34-2 { 
    display: none;
   }
}
@media screen and (min-width: 1194px) and (max-width: 1511px) {
  .screen.mobile-homepage { 
    display: none;
   }
  .screen.ipad-pro-11u34-1 { 
    display: none;
   }
  .screen.index-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1512px) {
  .screen.mobile-homepage { 
    display: none;
   }
  .screen.ipad-pro-11u34-1 { 
    display: none;
   }
  .screen.ipad-pro-11u34-2 { 
    display: none;
   }
}