/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 982px;
  padding: 10px 0;
  width: 1512px;
}

.index .overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 220px;
  margin-left: 10px;
  min-width: 1388px;
}

.index .overlap-group7 {
  height: 155px;
  position: relative;
  width: 917px;
}

.index .overlap-group5 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 657px;
}

.index .rubiojp_logo_vector_ {
  height: 142px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .title {
  color: #f4a261;
  font-family: var(--font-family-ofelia_text-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 617px;
}

.index .navbar {
  align-items: flex-start;
  display: inline-flex;
  left: 174px;
  position: absolute;
  top: 109px;
}

.index .navbar-link {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 174px;
}

.index .navbar-link-portfolio {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 221px;
}

.index .overlap-group2 {
  height: 41px;
  margin-bottom: 15px;
  position: relative;
  width: 251px;
}

.index .overlap-group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 251px;
}

.index .rectangle-2 {
  background-color: #d3c1a5;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 25px;
  height: 30px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .instagram {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 251px;
}

.index .logoinstagram {
  height: 18px;
  left: 192px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.index .line-3 {
  margin-top: 12px;
}

.index .snoqualmie-1 {
  align-self: center;
  height: 603px;
  margin-left: 1.0px;
  margin-top: 67px;
  object-fit: cover;
  width: 947px;
}

.index .overlap-group-container-1 {
  height: 61px;
  margin-top: 60px;
  position: relative;
  width: 1512px;
}

.index .overlap-group4 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.index .line-2 {
  left: 0;
  position: absolute;
  top: 7px;
}

.index .newsletter {
  color: var(--kabul);
  font-family: var(--font-family-funkydori-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 329px;
}

.index .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 30px;
  left: 339px;
  min-width: 197px;
  padding: 1px 11.3px;
  position: absolute;
  top: 23px;
}

.index .email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 167px;
}

.index .overlap-group-container-2 {
  align-items: center;
  display: flex;
  gap: 1px;
  height: 41px;
  left: 569px;
  min-width: 449px;
  position: absolute;
  top: 20px;
}

.index .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 25px;
  display: flex;
  height: 30px;
  margin-bottom: 3.0px;
  min-width: 197px;
  padding: 1px 11.3px;
}

.index .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 167px;
}

.index .overlap-group3 {
  height: 41px;
  position: relative;
  width: 251px;
}

.index .subscribe {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 251px;
}

.index .arrow-redo {
  height: 22px;
  left: 199px;
  position: absolute;
  top: 4px;
  width: 22px;
}

.index .line {
  height: 1px;
  object-fit: cover;
  width: 1512px;
}
