/* screen - ipad */

.ipad {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 111px;
  height: 843.27px;
  overflow: hidden;
  width: 1200.46px;
}

.ipad .snoqualmie-2 {
  height: 573px;
  margin-left: -115.36px;
  margin-top: 309px;
  object-fit: cover;
  transform: rotate(90.45deg);
  width: 911px;
}

.ipad .button-instagram {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 153.35px;
  min-width: 253px;
  transform: rotate(90.45deg);
}

.ipad .overlap-group {
  height: 41px;
  margin-top: 0;
  position: relative;
  width: 251px;
}
