/* screen - overlay */

.overlay {
  align-items: flex-start;
  display: flex;
  height: 777px;
  min-width: 376px;
}

.overlay .overlay-1 {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 777px;
  width: 376px;
}

.overlay .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 137px;
  height: 175px;
  margin-right: 0;
  margin-top: 1px;
  min-width: 344px;
}

.overlay .frame-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.overlay .place {
  cursor: pointer;
  margin-top: -1.00px;
}

.overlay .portfolio {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 166px;
}

.overlay .iconography-caesarzkn {
  cursor: pointer;
  height: 43px;
  width: 41px;
}

.overlay .overlap-group {
  align-items: flex-end;
  background-image: url(../img/snoqualmie-2-3.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 586px;
  justify-content: flex-end;
  margin-right: -14px;
  min-width: 390px;
  padding: 227px 47px;
}

.overlay .art-in-conversation-with-nature {
  color: var(--black);
  font-family: var(--font-family-fjord-one);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 84px;
  text-align: center;
  width: 286px;
}

.overlay .place-2 {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 166px;
}
