/* screen - portfolio-all-breakpoints */

.portfolio-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 982px;
  padding: 10px 0;
  width: 1512px;
}

.portfolio-all-breakpoints .overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 220px;
  margin-left: 10px;
  min-width: 1390px;
}

.portfolio-all-breakpoints .overlap-group5 {
  height: 155px;
  position: relative;
  width: 917px;
}

.portfolio-all-breakpoints .overlap-group4 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 657px;
}

.portfolio-all-breakpoints .rubiojp_logo_vector_ {
  height: 142px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .title {
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 617px;
}

.portfolio-all-breakpoints .navbar {
  align-items: flex-start;
  display: inline-flex;
  left: 174px;
  position: absolute;
  top: 109px;
}

.portfolio-all-breakpoints .navbar-link-place:hover {
  color: #F4A261
}

.portfolio-all-breakpoints .navbar-link-portfolio {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease;
  width: 221px;
}

.portfolio-all-breakpoints .navbar-link-portfolio:hover {
  color: #F4A261
}

.portfolio-all-breakpoints .overlap-group2 {
  height: 41px;
  margin-bottom: 15px;
  position: relative;
  width: 253px;
}

.portfolio-all-breakpoints .overlap-group1 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 251px;
}

.portfolio-all-breakpoints .rectangle-2 {
  background-color: var(--akaroa);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 25px;
  height: 30px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .instagram {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 251px;
}

.portfolio-all-breakpoints .logoinstagram {
  background-image: url(../img/logo-instagram-1.svg);
  background-size: 100% 100%;
  height: 18px;
  left: 193px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.portfolio-all-breakpoints .explore-art-in-all-i {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15.0px;
  margin-top: 12px;
  min-height: 112px;
  width: 1351px;
}

.portfolio-all-breakpoints .group-3 {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
  min-width: 641px;
}

.portfolio-all-breakpoints .navbar-link-container {
  height: 46px;
  position: relative;
  width: 631px;
}

.portfolio-all-breakpoints .navbar-link-all {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .navbar-link-oils {
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 221px;
}

.portfolio-all-breakpoints .navbar-link-prints {
  left: 337px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .navbar-link-photos {
  left: 457px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .navbar-link-watercolors {
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 174px;
}

.portfolio-all-breakpoints .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 32px;
  height: 363px;
  margin-top: 52px;
  min-width: 1294px;
}

.portfolio-all-breakpoints .overlap-group3 {
  height: 356px;
  position: relative;
  width: 322px;
}

.portfolio-all-breakpoints .frame-1 {
  height: 263px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 313px;
}

.portfolio-all-breakpoints .virgen-1 {
  height: 356px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 292px;
}

.portfolio-all-breakpoints .flex-row-item {
  align-self: flex-end;
  height: 356px;
  object-fit: cover;
  width: 292px;
}

.portfolio-all-breakpoints .hpim1656-1 {
  height: 356px;
  object-fit: cover;
  width: 292px;
}

.portfolio-all-breakpoints .line-2 {
  margin-top: 132px;
}
/* screen - portfolio-ipad */

.portfolio-ipad {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1194px;
  padding: 64px 53px;
  width: 834px;
}

.portfolio-ipad .overlap-group-1 {
  align-self: flex-start;
  height: 112px;
  position: relative;
  width: 651px;
}

.portfolio-ipad .rubiojp_logo_vector_-2 {
  height: 110px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 134px;
}

.portfolio-ipad .title-2 {
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 476px;
}

.portfolio-ipad .frame-2 {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 79px;
  position: absolute;
  top: 76px;
  width: 572px;
}

.portfolio-ipad .place {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease;
  width: 174px;
}

.portfolio-ipad .place:hover {
  color: #F4A261
}

.portfolio-ipad .portfolio {
  cursor: pointer;
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 221px;
}

.portfolio-ipad .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 103px;
  height: 358px;
  margin-right: 3.0px;
  margin-top: 114px;
  min-width: 687px;
}

.portfolio-ipad .rooster-color-1-1 {
  height: 356px;
  object-fit: cover;
  width: 292px;
}

.portfolio-ipad .el_che_cigar_256-1-1 {
  align-self: flex-end;
  height: 356px;
  object-fit: cover;
  width: 292px;
}

.portfolio-ipad .we-invite-you-to-exp-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 18.0px;
  margin-top: 168px;
  min-height: 276px;
  width: 668px;
}
/* screen - portfolio-mobile */

.portfolio-mobile {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2293px;
  padding: 16px 10px;
  width: 390px;
}

.portfolio-mobile .flex-row-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 94px;
  min-width: 366px;
}

.portfolio-mobile .overlap-group {
  height: 161px;
  position: relative;
  width: 231px;
}

.portfolio-mobile .rubiojp_logo_vector_-1 {
  height: 132px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 141px;
}

.portfolio-mobile .title-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 124px;
  white-space: nowrap;
  width: 231px;
}

.portfolio-mobile .hamburger-menu {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 25px;
  width: 41px;
}

.portfolio-mobile .we-invite-you-to-exp {
  height: 111px;
  margin-right: 8.85px;
  margin-top: 84px;
  width: 287px;
}

.portfolio-mobile .rooster-color-1 {
  height: 356px;
  margin-right: 2.0px;
  margin-top: 52px;
  object-fit: cover;
  width: 292px;
}

.portfolio-mobile .el_che_cigar_256-1 {
  height: 356px;
  margin-right: 2.0px;
  margin-top: 69px;
  object-fit: cover;
  width: 292px;
}

.portfolio-mobile .virgen-1-1 {
  height: 356px;
  margin-top: 52px;
  object-fit: cover;
  width: 292px;
}

.portfolio-mobile .hpim1656-1-1 {
  height: 356px;
  margin-top: 70px;
  object-fit: cover;
  width: 292px;
}
@media screen and (max-width: 833px) {
  .screen.portfolio-all-breakpoints { 
    display: none;
   }
  .screen.portfolio-ipad { 
    display: none;
   }
}
@media screen and (min-width: 834px) and (max-width: 1511px) {
  .screen.portfolio-all-breakpoints { 
    display: none;
   }
  .screen.portfolio-mobile { 
    display: none;
   }
}
@media screen and (min-width: 1512px) {
  .screen.portfolio-mobile { 
    display: none;
   }
  .screen.portfolio-ipad { 
    display: none;
   }
}