:root { 
  --black: #000000;
  --kabul: #574b3f;
  --kabul-2: #574a3e;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 16px;
  --font-size-xl: 48px;
 
  --font-family-fjord-one: "Fjord-One", Helvetica;
  --font-family-funkydori-regular: "Funkydori-Regular", Helvetica;
  --font-family-ofelia_text-regular: "Ofelia Text-Regular", Helvetica;
  --font-family-rounded_mplus_1c_bold-bold: "Rounded Mplus 1c Bold-Bold", Helvetica;
}
.fjord-one-normal-kabul-24px {
  color: var(--kabul);
  font-family: var(--font-family-fjord-one);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roundedmplus1cbold-bold-kabul-16px {
  color: var(--kabul-2);
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
