:root { 
  --akaroa: #d3c1a5;
  --black: #000000;
  --donkey-brown: #a68f79;
  --kabul: #574b3f;
  --kabul-2: #574a3e;
  --sandy-brown: #f4a261;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 16px;
  --font-size-xl: 48px;
  --font-size-xxl: 96px;
 
  --font-family-fjord-one: "Fjord-One", Helvetica;
  --font-family-funkydori-regular: "Funkydori-Regular", Helvetica;
  --font-family-ofelia_text-regular: "Ofelia Text-Regular", Helvetica;
  --font-family-rounded_mplus_1c_bold-bold: "Rounded Mplus 1c Bold-Bold", Helvetica;
}
.fjord-one-normal-kabul-24px {
  color: var(--kabul);
  font-family: var(--font-family-fjord-one);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roundedmplus1cbold-bold-kabul-16px {
  color: var(--kabul-2);
  font-family: var(--font-family-rounded_mplus_1c_bold-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.ofeliatext-regular-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-ofelia_text-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.ofeliatext-regular-normal-sandy-brown-48px {
  color: var(--sandy-brown);
  font-family: var(--font-family-ofelia_text-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.funkydori-regular-normal-kabul-36px {
  color: var(--kabul);
  font-family: var(--font-family-funkydori-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.ofeliatext-regular-normal-sandy-brown-36px {
  color: var(--sandy-brown);
  font-family: var(--font-family-ofelia_text-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
